<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reset Your Password</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        text-align: center;
        padding: 20px;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 16px;
        color: white;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 5px;
      }
      .button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hello {{ user.email }},</h2>
      <p>
        We received a request to reset your password. Click the button below to
        proceed:
      </p>
      <a class="button" href="{{ reset_url }}">Reset Password</a>
      <p>If you didn't request this, please ignore this email.</p>
      <p>Best regards,<br />Lunori Team</p>
    </div>
  </body>
</html>
